.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    align-items: center;
    /* parameters for the header section */
    background-color: #F2F2F2;
    border: 1px solid red;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
}

/*.header {
    display: flex;
    align-items: center;
    border: 1px solid red;
    width: 1038px;
    height: 874px;
    background-color: #F2F2F2;
}*/

.logo {
    background-size: cover;
    z-index: 1;
}

.logo_place-header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-image: url("../images/logo.png");
    width: 154px;
    height: 31px;
}

.logo_place-footer {
    background-image: url("../images/logo_white.png");
    width: 183px;
    height: 35px;
}

.header__title {
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../images/on_the_edge.png");
    background-size: cover;
    width: 765px;
    height: 608px;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2F80ED;
    width: 568px;
    height: 568px;
    z-index: 0;
}

.content {
    border: 1px solid red;
}

.description {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    color: #2F80ED;
    font-weight: normal;
    width: 175px;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;  /* margin für den letzten block rausnehmen */
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    border: 1px solid red;
}

.section-title {
    border: 1px solid red;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.section-title_theme-dark {
    color: white;
    margin-top: 90px;
}

.section-subtitle {
    border: 1px solid red;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
}

.section-subtitle_theme-dark {
    color: white;
}

.table {
    width: 1100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.table_theme-dark {
    margin-bottom: 90px;
    z-index: 2;
}

.table__cell {
    margin-top: 60px;
    width: 250px;
}

.table__cell_theme-dark {
    margin-top: 80px;
    width: 200px;
    z-index: 2;
}

.table__linebreak {
    width: 100%;
    height: 0;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

/* No real change */
.table__heading_theme-dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.table__text {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

/* No real change */
.table__text_theme-dark {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: white;
    z-index: 2;
}

.feinman {
    position: relative;
    background-image: url("../images/feinman.png");
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
    height: 790px;
    padding-top: 100px;
    border: 1px solid red;
}

.feinman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    width: 770px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border: 1px solid red;
}

.feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.kaufman {
    position: relative;
    overflow: hidden;
    border: 1px solid red;
    background-color: #1F1F1F;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    background-image: url("../images/triangle.svg");
    background-size: cover;
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
    background-color: #1F1F1F;
    color: white;
    min-height: 350px;
}

.footer__columns {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-basis: 711px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column_content-copyright {
    width: 50%;
}

.footer__column-heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer__column_content-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: grey;
}

.footer__column-link {
    text-decoration: none;
    color: grey;
}

.footer__author {
    margin-top: 18px;
    margin-bottom: 18px;
    color: grey;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column_content-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__social-icons {
    margin-bottom: 16px;
}

.footer__social-link {
    color: grey;
    text-decoration: none;
}

.footer__social-icon {
    width: 16px;
    heigth: 16px;
}

div {
    border: 1px solid red;
}