.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* parameters for the header section */
    margin-bottom: 100px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.header {
    display: flex;
    align-items: center;
    border: 1px solid red;
    margin-bottom: 100px;
    width: 1038px;
    height: 874px;
}

.header__logo {
    position: absolute;
    top: 30px;
    left: 64px;
    background-image: url("../images/logo.png");
    background-size: cover;
    width: 154px;
    height: 31px;
}

.header__title {
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../images/on_the_edge.png");
    background-size: cover;
    width: 765px;
    height: 608px;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2F80ED;
    width: 568px;
    height: 568px;
    z-index: 0;
}

.content {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.description {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.two-columns {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    color: #2F80ED;
    font-weight: normal;
    width: 175px;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    border: 1px solid red;
}

.feinman {
    background-image: url("../images/feinman.png");
    // TODO gehört die Größe wirklich zum Block
    width: 867px;
    height: 637px;
    border: 1px solid red;
}

.kaufman {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

div {
    border: 1px solid red;
}